<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lemon.customview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.DepthMapViewActivity"
            android:label="深度图"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TimeLineMarkerViewActivity"
            android:label="时间线"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MarqueeViewActivity"
            android:label="跑马灯"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SlantedTextViewActivity"
            android:label="倾斜textview"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.KeyboardActivity"
            android:label="自定义数字键盘"
            android:screenOrientation="portrait" />
    </application>

</manifest>